<ul class="nav nav-tabs search-case-tabs ">
  <li role="presentation" routerLink="../keyvalues/bu" routerLinkActive="active">
    <a href="javascript:void(0);">Contributed BU</a>
  </li>
  <li role="presentation" routerLink="../keyvalues/value" routerLinkActive="active">
    <a href="javascript:void(0);" >Business Value</a>
  </li>
  <li role="presentation" routerLink="../keyvalues/dataSource" routerLinkActive="active">
    <a href="javascript:void(0);" >Data Source</a>
  </li>
  <li role="presentation" routerLink="../keyvalues/dataAnalysisModel" routerLinkActive="active">
    <a href="javascript:void(0);" >Data Analysis Model</a>
  </li>
  <li role="presentation" routerLink="../keyvalues/role" routerLinkActive="active">
    <a href="javascript:void(0);" >Role</a>
  </li>
</ul>
<router-outlet></router-outlet>
