<div class="row">
  <div class="col-xs-12">
    <p *ngIf="pagedList.total!=undefined">{{pagedList.total}} cases </p>
    <ul class="nav nav-tabs search-case-tabs contributionbu-list-tabs" role="tablist">
      <li role="presentation" *ngFor="let bu of buList.list" [routerLink]="['/case/contributionBU',bu.text]" routerLinkActive="active"><a href="javascript:void(0);">{{bu.text}}</a></li>
    </ul>
  </div>
</div>
<case-list [pagedList]="pagedList"></case-list>
<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-default btn-block show-more" (click)="showMore();"
       *ngIf="pagedList.hasNextPage"><span>Show more </span><i class="fa fa-angle-double-down"
                                                               aria-hidden="true"></i></a>
  </div>
</div>
