<div class="row case-filter">
  <div class="filter-label">Use Case Objective:</div>
  <div class="filter-item">
    <ul>
      <li *ngFor="let v of valueList.list">
        <a [class.selected]="valueType==v.text" [routerLink]="['/case/search',v.text,queryParameter.subject]" href="javascript:void(0);">{{v.text}}</a>
      </li>
    </ul>
  </div>
</div>
<case-list [pagedList]="pagedList" [valueType]="valueType"></case-list>
<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-default btn-block show-more" (click)="showMore();" *ngIf="pagedList.hasNextPage">
      <span>Show more </span>
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </a>
  </div>
</div>
