<div class="row content-page-title-with-search">
    <div class="col-md-7 title-text">Data Community</div>
    <div class="col-md-5 search-panel">
        <div class="input-group input-group-sm">
            <div class="input-group-btn" dropdown>
                <button dropdownToggle type="button" class="btn dropdown-toggle">{{searchItem}}&nbsp;&nbsp;<span
                    class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" style="margin-top:-3px;">
                    <li *ngFor="let item of searchUserItems"><a class="dropdown-item"
                                                                (click)="selectSearchItem($event,item)" href="#">{{item}}</a>
                    </li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" placeholder="Type your search here..." [(ngModel)]="inputValue">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-search" (click)="searchUser();">Search</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="data-community">
    <div class="row data-community-search case-filter">
        <div class="filter-label">Role:</div>
        <div class="filter-item">
            <ul>
                <li *ngFor="let r of roleList.list">
                    <a (click)="roleFilter($event,r.text);" [class.selected]="r.text==selectedRole" href="#">{{r.text}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row organization-row">
        <div class="col-md-12 organization-col">
            <table class="table table-responsive organization-table">
                <thead>
                <tr>
                    <td colspan="2" class="org-title">
                        Data Community
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" class="org-note">
                        Click ‘+’ to unfold member list
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/dot.png" class="img-circle left-dot">
                        <button class="btn left-btn" *ngIf="showOrg!='BMBS'" type="button" (click)="show('BMBS');">
                            <img src="assets/blue2.png" class="img-responsive">
                        </button>
                        <a class="left-a-link" *ngIf="showOrg=='BMBS'" href="javascript:void(0);" (click)="show('');">
                            <img src="assets/blue1.png" class="img-responsive">
                        </a>
                    </td>
                    <td>
                        <img src="assets/dot.png" class="img-circle left-dot">
                        <button class="btn left-btn" *ngIf="showOrg!='DGRC'" type="button" (click)="show('DGRC');">
                            <img src="assets/yellow2.png" class="img-responsive">
                        </button>
                        <a class="left-a-link" *ngIf="showOrg=='DGRC'" href="javascript:void(0);" (click)="show('');">
                            <img src="assets/yellow1.png" class="img-responsive">
                        </a>
                        <button class="btn right-btn" *ngIf="showOrg!='MBAFC'" type="button" (click)="show('MBAFC');">
                            <img src="assets/red2.png">
                        </button>
                        <a class="right-a-link" *ngIf="showOrg=='MBAFC'" href="javascript:void(0);" (click)="show('');"
                           style="">
                            <img src="assets/red1.png" class="img-responsive">
                        </a>
                        <img src="assets/dot.png" class="img-circle right-dot">
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="width:100%;overflow-x:auto;">
                <div style="display: inline-block; min-width:100%;">
                    <table style="width: 480px !important;" class="table table-responsive department-table"
                           *ngIf="showOrg=='BMBS'">
                        <tr>
                            <td *ngFor="let departmentName of BMBSDepartments; let i=index;"
                                [class.department-td]="i != BMBSDepartments.length-1"
                                [class.department-last-td]="i==BMBSDepartments.length-1">
                                <img src="assets/dot.png" class="img-circle">
                                <h2 class="text-center">{{departmentName}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let departmentName of BMBSDepartments ">
                                <p *ngFor="let department of BMBSOrganization.departments">
                 <span *ngIf="departmentName==department.name">
                   <button title="{{remember.username}}" class="btn" *ngFor="let remember of department.remembers"
                           [routerLink]="['/user/detail', remember.id]">{{remember.username}}</button><br/>
                 </span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 1360px;" class="table table-responsive department-table department-table-DGRC"
                           *ngIf="showOrg=='DGRC'">
                        <tr>
                            <td *ngFor="let departmentName of DGRCDepartments; let i=index;"
                                [class.department-td]="i != DGRCDepartments.length-1"
                                [class.department-last-td]="i==DGRCDepartments.length-1">
                                <img src="assets/dot.png" class="img-circle">
                                <h2 class="text-center">{{departmentName}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let departmentName of DGRCDepartments ">
                                <p *ngFor="let department of DGRCOrganization.departments">
             <span *ngIf="departmentName==department.name">
               <button title="{{remember.username}}" class="btn" *ngFor="let remember of department.remembers"
                       [routerLink]="['/user/detail', remember.id]">{{remember.username}}</button><br/>
             </span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 320px !important;"
                           class="table table-responsive department-table department-table-MBAFC"
                           *ngIf="showOrg=='MBAFC'">
                        <tr>
                            <td *ngFor="let departmentName of MBAFCDepartments; let i=index;"
                                [class.department-td]="i != MBAFCDepartments.length-1"
                                [class.department-last-td]="i==MBAFCDepartments.length-1">
                                <img src="assets/dot.png" class="img-circle" style="left: -6px;">
                                <h2 class="text-center">{{departmentName}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let departmentName of MBAFCDepartments ">
                                <p *ngFor="let department of MBAFCOrganization.departments">
                 <span *ngIf="departmentName==department.name">
                   <button title="{{remember.username}}" class="btn" *ngFor="let remember of department.remembers"
                           [routerLink]="['/user/detail', remember.id]">{{remember.username}}</button><br/>
                 </span>
                                </p>
                            </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td *ngFor="let department of MBAFCOrganization.departments; let i=index;"-->
                        <!--[class.department-td]="i != MBAFCOrganization.departments.length-1"-->
                        <!--[class.department-last-td]="i==MBAFCOrganization.departments.length-1">-->
                        <!--<img src="assets/dot.png" class="img-circle">-->
                        <!--<h2>{{department.name}}</h2>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td *ngFor="let department of MBAFCOrganization.departments">-->
                        <!--<p>-->
                        <!--<span>-->
                        <!--<button class="btn" *ngFor="let remember of department.remembers" [routerLink]="['/user/detail', remember.id]">{{remember.username}}</button><br/>-->
                        <!--</span>-->
                        <!--</p>-->
                        <!--</td>-->
                        <!--</tr>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
