<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs search-case-tabs" role="tablist">
      <li role="presentation" [class.active]="type=='userCreateCase'"><a href="javascript:void(0);" (click)="searchUserList('userCreateCase');">Created Cases</a></li>
      <li role="presentation" [class.active]="type=='userLikeCase'"><a href="javascript:void(0);" (click)="searchUserList('userLikeCase');">Liked Cases</a></li>
    </ul>
  </div>
</div>

<case-list [pagedList]="pagedList"></case-list>

<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-default btn-block show-more" (click)="showMore();"
       *ngIf="pagedList.hasNextPage"><span>Show more </span><i class="fa fa-angle-double-down"
                                                               aria-hidden="true"></i></a>
  </div>
</div>

