<h1 class="shop-floor-title">Digital Shopfloor</h1>
<div class="row top-three-buton">
  <a href="javascript:void(0)" [routerLink]="['/case/create']">
    <p class="icon1"></p>
    <span>Create New Use Case</span>
  </a>
  <a href="javascript:void(0)" [routerLink]="['/case/search','All','All','All','All']">
    <p class="icon2"></p>
    <span>Use Case Overview</span>
  </a>
  <a href="javascript:void(0)" [routerLink]="['/user/community']">
    <p class="icon3"></p>
    <span>WiW (Data Community)</span>
  </a>
</div>
<div style="clear: both"></div>
<shopfloor></shopfloor>
<statistics></statistics>
<br/>
