<p class="footprint-title">Footprint</p>
<div class="statistics_container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="panel margin-bottom-0 panel-solid-info widget-mini widget-create">
        <div class="panel-body">
          <span class="icon"><i class="fa fa-plus"></i></span>
          <div class="inf">
            <span class="total">{{total.totalCases}}</span>
            <span class="title">Created Cases</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="panel margin-bottom-0 panel-solid-info widget-mini widget-thumb">
        <div class="panel-body">
          <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
          <div class="inf">
            <span class="total">{{total.totalLikes}}</span>
            <span class="title">Thumb-ups</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="panel margin-bottom-0 panel-solid-info widget-mini widget-comment">
        <div class="panel-body">
          <span class="icon"><i class="fa fa-commenting"></i></span>
          <div class="inf">
            <span class="total">{{total.totalComments}}</span>
            <span class="title">Comments</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="panel margin-bottom-0 panel-solid-info widget-mini widget-browse">
        <div class="panel-body">
          <span class="icon"><i class="fa fa-eye"></i></span>
          <div class="inf">
            <span class="total">{{total.totalViews}}</span>
            <span class="title">Clicks</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<line-chart></line-chart>-->
</div>
